/*
    Layered Gradient

    - image and gradient
    - gradient and gradient
    - animation

*/

lay-grad{
    position:relative;
    background-color:transparent;
    z-index: 0;
    >*{ backdrop-filter: blur(var(--laygrad--imageblur)); }
    &::before, &::after{
        position: absolute;
        top:0;left:0;right:0;bottom: 0;
    }
    &::before{
        content: "";
        background: rgb(var(--color-background));
        background: var(--gradient-background);
        background-attachment: fixed;
        z-index: -1;
        opacity: calc(var(--laygrad--grad-rate) / 100);
        
    }

    &.laygrad--heroimg {
        &::after{
            content: "";
            z-index: -2;
            background-image: var(--laygrad--hero-url);
            background-size: auto 110%;
            animation: heromove var(--laygrad--animedura) infinite both alternate;
        }
        &.laygrad--imgfl--grayscale{
            &::after{
                filter: unquote("grayscale(var(--laygrad--image-fil))");
            }
        }
        &.laygrad--imgfl--sepia{
            &::after{
                filter: unquote("sepia(var(--laygrad--image-fil))");
            }
        }
    }

    &.laygrad--heroimg {
        &.laygrad--heroimg--v{        
            &::after{
                background-size: auto 110%;
            }
        }
        &.laygrad--heroimg--h{        
            &::after{
                background-size: 110% auto;
            }
        }
    }
}

@keyframes heromove {
    0%   {background-position:   0%;}
    100% {background-position: 100%;}
}