/*
    Layered Gradient

    - image and gradient
    - gradient and gradient
    - animation

*/
lay-grad {
  position: relative;
  background-color: transparent;
  z-index: 0;
}
lay-grad > * {
  -webkit-backdrop-filter: blur(var(--laygrad--imageblur));
          backdrop-filter: blur(var(--laygrad--imageblur));
}
lay-grad::before, lay-grad::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-attachment: unset;
}
lay-grad::before {
  content: "";
  background-image: rgb(var(--color-background));
  background-image: var(--gradient-background);
  z-index: -1;
  opacity: calc(var(--laygrad--grad-rate) / 100);
  mix-blend-mode: var(--laygrad--gradblend);
}
lay-grad.laygrad--heroimg::after {
  content: "";
  z-index: -2;
  background-image: var(--laygrad--hero-url);
  background-position: center;
}
lay-grad.laygrad--heroimg.laygrad--heroimg--v::after {
  background-size: auto 100%;
}
lay-grad.laygrad--heroimg.laygrad--heroimg--h::after {
  background-size: 100% auto;
}
lay-grad.laygrad--heroimg.laygrad--imgfl--grayscale::after {
  filter: grayscale(var(--laygrad--image-fil));
}
lay-grad.laygrad--heroimg.laygrad--imgfl--sepia::after {
  filter: sepia(var(--laygrad--image-fil));
}
lay-grad.laygrad--heroimg.laygrad--imgfl--brightness::after {
  filter: brightness(var(--laygrad--image-fil));
}
lay-grad.laygrad--heroimg.laygrad--imgfl--contrast::after {
  filter: contrast(var(--laygrad--image-fil));
}
lay-grad.laygrad--heroimg.laygrad--anime--scroll.laygrad--heroimg--v::after {
  background-size: auto 100%;
  -webkit-animation: laygradScrollH var(--laygrad--animedura) infinite both alternate;
          animation: laygradScrollH var(--laygrad--animedura) infinite both alternate;
}
lay-grad.laygrad--heroimg.laygrad--anime--scroll.laygrad--heroimg--h::after {
  background-size: 100% auto;
  -webkit-animation: laygradScrollV var(--laygrad--animedura) infinite both alternate;
          animation: laygradScrollV var(--laygrad--animedura) infinite both alternate;
}
lay-grad.laygrad--heroimg.laygrad--anime--zoom.laygrad--heroimg--v::after {
  -webkit-animation: laygradZoomV var(--laygrad--animedura) infinite both alternate;
          animation: laygradZoomV var(--laygrad--animedura) infinite both alternate;
}
lay-grad.laygrad--heroimg.laygrad--anime--zoom.laygrad--heroimg--h::after {
  -webkit-animation: laygradZoomH var(--laygrad--animedura) infinite both alternate;
          animation: laygradZoomH var(--laygrad--animedura) infinite both alternate;
}
lay-grad.laygrad--heroimg.laygrad--anime--move.laygrad--heroimg--v::after {
  background-size: auto 100%;
}
lay-grad.laygrad--heroimg.laygrad--anime--move.laygrad--heroimg--h::after {
  background-size: 100% auto;
}
lay-grad.laygrad--heroimg.laygrad--anime--move::after {
  -webkit-animation: laygradMove var(--laygrad--animedura) infinite both alternate;
          animation: laygradMove var(--laygrad--animedura) infinite both alternate;
}
lay-grad.laygrad--heroimg.laygrad--anime--gradiation.laygrad--heroimg--v::after {
  background-size: auto 110%;
}
lay-grad.laygrad--heroimg.laygrad--anime--gradiation.laygrad--heroimg--h::after {
  background-size: 110% auto;
}
lay-grad.laygrad--heroimg.laygrad--anime--gradiation.laygrad--heroimg--v::before {
  background-size: auto 500%;
  -webkit-animation: laygradScrollV var(--laygrad--animedura) infinite both alternate;
          animation: laygradScrollV var(--laygrad--animedura) infinite both alternate;
}
lay-grad.laygrad--heroimg.laygrad--anime--gradiation.laygrad--heroimg--h::before {
  background-size: 500% auto;
  -webkit-animation: laygradScrollH var(--laygrad--animedura) infinite both alternate;
          animation: laygradScrollH var(--laygrad--animedura) infinite both alternate;
}

@-webkit-keyframes laygradScrollV {
  0% {
    background-position: center 0%;
  }
  100% {
    background-position: center 100%;
  }
}

@keyframes laygradScrollV {
  0% {
    background-position: center 0%;
  }
  100% {
    background-position: center 100%;
  }
}
@-webkit-keyframes laygradScrollH {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: 100% center;
  }
}
@keyframes laygradScrollH {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: 100% center;
  }
}
@-webkit-keyframes laygradZoomV {
  0% {
    background-size: auto 100%;
  }
  100% {
    background-size: auto 200%;
  }
}
@keyframes laygradZoomV {
  0% {
    background-size: auto 100%;
  }
  100% {
    background-size: auto 200%;
  }
}
@-webkit-keyframes laygradZoomH {
  0% {
    background-size: 100% auto;
  }
  100% {
    background-size: 200% auto;
  }
}
@keyframes laygradZoomH {
  0% {
    background-size: 100% auto;
  }
  100% {
    background-size: 200% auto;
  }
}
@-webkit-keyframes laygradMove {
  0% {
    background-position: 0% 0%;
  }
  20% {
    background-position: 100% 0%;
  }
  40% {
    background-position: 0% 50%;
  }
  60% {
    background-position: 100% 50%;
  }
  80% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 100% 100%;
  }
}
@keyframes laygradMove {
  0% {
    background-position: 0% 0%;
  }
  20% {
    background-position: 100% 0%;
  }
  40% {
    background-position: 0% 50%;
  }
  60% {
    background-position: 100% 50%;
  }
  80% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 100% 100%;
  }
}
lay-grad {
  --border--h2:2px;
  --border--p:1px;
}
lay-grad.laygrad--typog--whiteborder .laygrad--message h2 {
  filter: drop-shadow(calc(var(--border--h2) * -1) calc(var(--border--h2) * -1) 0px rgba(255, 255, 255, 0.5)) drop-shadow(calc(var(--border--h2) * 1) calc(var(--border--h2) * -1) 0px rgba(255, 255, 255, 0.5)) drop-shadow(calc(var(--border--h2) * -1) calc(var(--border--h2) * 1) 0px rgba(255, 255, 255, 0.5)) drop-shadow(calc(var(--border--h2) * 1) calc(var(--border--h2) * 1) 0px rgba(255, 255, 255, 0.5));
}
lay-grad.laygrad--typog--whiteborder .laygrad--message p {
  filter: drop-shadow(calc(var(--border--p) * -1) calc(var(--border--p) * -1) 0px rgba(255, 255, 255, 0.5)) drop-shadow(calc(var(--border--p) * 1) calc(var(--border--p) * -1) 0px rgba(255, 255, 255, 0.5)) drop-shadow(calc(var(--border--p) * -1) calc(var(--border--p) * 1) 0px rgba(255, 255, 255, 0.5)) drop-shadow(calc(var(--border--p) * 1) calc(var(--border--p) * 1) 0px rgba(255, 255, 255, 0.5));
}
lay-grad.laygrad--typog--blackborder .laygrad--message h2 {
  filter: drop-shadow(calc(var(--border--h2) * -1) calc(var(--border--h2) * -1) 0px rgba(0, 0, 0, 0.5)) drop-shadow(calc(var(--border--h2) * 1) calc(var(--border--h2) * -1) 0px rgba(0, 0, 0, 0.5)) drop-shadow(calc(var(--border--h2) * -1) calc(var(--border--h2) * 1) 0px rgba(0, 0, 0, 0.5)) drop-shadow(calc(var(--border--h2) * 1) calc(var(--border--h2) * 1) 0px rgba(0, 0, 0, 0.5));
}
lay-grad.laygrad--typog--blackborder .laygrad--message p {
  filter: drop-shadow(calc(var(--border--p) * -1) calc(var(--border--p) * -1) 0px rgba(0, 0, 0, 0.5)) drop-shadow(calc(var(--border--p) * 1) calc(var(--border--p) * -1) 0px rgba(0, 0, 0, 0.5)) drop-shadow(calc(var(--border--p) * -1) calc(var(--border--p) * 1) 0px rgba(0, 0, 0, 0.5)) drop-shadow(calc(var(--border--p) * 1) calc(var(--border--p) * 1) 0px rgba(0, 0, 0, 0.5));
}
lay-grad.laygrad--typog--whitedown .laygrad--message h2 {
  filter: drop-shadow(calc(var(--border--h2) * 1) calc(var(--border--h2) * 0) 0px rgba(255, 255, 255, 0.8)) drop-shadow(calc(var(--border--h2) * 0) calc(var(--border--h2) * 1) 0px rgba(255, 255, 255, 0.8)) drop-shadow(calc(var(--border--h2) * 1) calc(var(--border--h2) * 1) 0px rgba(255, 255, 255, 0.8));
}
lay-grad.laygrad--typog--whitedown .laygrad--message p {
  filter: drop-shadow(calc(var(--border--p) * 1) calc(var(--border--p) * 0) 0px rgba(255, 255, 255, 0.8)) drop-shadow(calc(var(--border--p) * 0) calc(var(--border--p) * 1) 0px rgba(255, 255, 255, 0.8)) drop-shadow(calc(var(--border--p) * 1) calc(var(--border--p) * 1) 0px rgba(255, 255, 255, 0.8));
}
lay-grad.laygrad--typog--blackdown .laygrad--message h2 {
  filter: drop-shadow(calc(var(--border--h2) * 1) calc(var(--border--h2) * 0) 0px rgba(0, 0, 0, 0.5)) drop-shadow(calc(var(--border--h2) * 0) calc(var(--border--h2) * 1) 0px rgba(0, 0, 0, 0.5)) drop-shadow(calc(var(--border--h2) * 1) calc(var(--border--h2) * 1) 0px rgba(0, 0, 0, 0.5));
}
lay-grad.laygrad--typog--blackdown .laygrad--message p {
  filter: drop-shadow(calc(var(--border--p) * 1) calc(var(--border--p) * 0) 0px rgba(0, 0, 0, 0.5)) drop-shadow(calc(var(--border--p) * 0) calc(var(--border--p) * 1) 0px rgba(0, 0, 0, 0.5)) drop-shadow(calc(var(--border--p) * 1) calc(var(--border--p) * 1) 0px rgba(0, 0, 0, 0.5));
}
lay-grad.laygrad--typog--graydown .laygrad--message h2 {
  filter: drop-shadow(calc(var(--border--h2) * 1) calc(var(--border--h2) * 0) 0px rgba(128, 128, 128, 0.5)) drop-shadow(calc(var(--border--h2) * 0) calc(var(--border--h2) * 1) 0px rgba(128, 128, 128, 0.5)) drop-shadow(calc(var(--border--h2) * 1) calc(var(--border--h2) * 1) 0px rgba(128, 128, 128, 0.5));
}
lay-grad.laygrad--typog--graydown .laygrad--message p {
  filter: drop-shadow(calc(var(--border--p) * 1) calc(var(--border--p) * 0) 0px rgba(128, 128, 128, 0.5)) drop-shadow(calc(var(--border--p) * 0) calc(var(--border--p) * 1) 0px rgba(128, 128, 128, 0.5)) drop-shadow(calc(var(--border--p) * 1) calc(var(--border--p) * 1) 0px rgba(128, 128, 128, 0.5));
}/*# sourceMappingURL=component-laygrad.css.map */